src/main/resources/arca_intra_search_codice_arca.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://arca.services.soa.sistinf.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="RicercaConCodiceFiscaleInteroResponse">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="Sicurezza">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="CodiceTipoOperatore"/>
                            <xs:element type="xs:string" name="Provenienza"/>
                            <xs:element type="xs:string" name="MatricolaINPS"/>
                            <xs:element type="xs:short" name="SedeRichiesta"/>
                            <xs:element type="xs:short" name="GestioneApplOrigine"/>
                            <xs:element type="xs:short" name="SedeApplOrigine"/>
                            <xs:element type="xs:string" name="PgmApplOrigine"/>
                            <xs:element type="xs:string" name="TranApplOrigine"/>
                            <xs:element type="xs:string" name="Funzione"/>
                            <xs:element type="xs:string" name="WsReserved"/>
                            <xs:element name="Esito">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="ReturnCode"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                        <xs:element type="xs:byte" name="TotaleSinonimiGenerati"/>
                                        <xs:element type="xs:byte" name="TotaleSinonimiRestituiti"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Ricerca">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="TipoChiavePresente"/>
                            <xs:element name="CodicePersona">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Cognome"/>
                                        <xs:element type="xs:string" name="Nome"/>
                                        <xs:element type="xs:byte" name="Anno"/>
                                        <xs:element type="xs:string" name="Mese"/>
                                        <xs:element type="xs:byte" name="Giorno"/>
                                        <xs:element type="xs:string" name="Comune"/>
                                        <xs:element type="xs:string" name="CodControllo"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="FlagStorico"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Anagrafica">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Area"/>
                            <xs:element type="xs:byte" name="Sede"/>
                            <xs:element type="xs:byte" name="Definizione"/>
                            <xs:element type="xs:string" name="CodiceArca"/>
                            <xs:element type="xs:int" name="ProgressivoArca"/>
                            <xs:element type="xs:string" name="Provenienza"/>
                            <xs:element type="xs:byte" name="CFStatus"/>
                            <xs:element type="xs:byte" name="Status1"/>
                            <xs:element type="xs:byte" name="Status3"/>
                            <xs:element type="xs:byte" name="Status4"/>
                            <xs:element type="xs:byte" name="Status5"/>
                            <xs:element type="xs:string" name="CodiceFiscale"/>
                            <xs:element type="xs:byte" name="TipoValidazioneCodiceFiscale"/>
                            <xs:element type="xs:string" name="DescrizioneTipoValidazioneCodiceFiscale"/>
                            <xs:element type="xs:byte" name="FlagDeceduto"/>
                            <xs:element type="xs:byte" name="SedeProprietaria"/>
                            <xs:element type="xs:byte" name="DataMorte"/>
                            <xs:element name="DataVariazione">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Giorno"/>
                                        <xs:element type="xs:byte" name="Mese"/>
                                        <xs:element type="xs:short" name="Anno"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:int" name="SedeVariazione"/>
                            <xs:element name="OraVariazione">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Ore"/>
                                        <xs:element type="xs:byte" name="Minuti"/>
                                        <xs:element type="xs:byte" name="Secondi"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="OperatoreVariazione"/>
                            <xs:element type="xs:short" name="ProgrammaVariazione"/>
                            <xs:element name="Residenza">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="StatoCivile">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TitoloStudio">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FormatoLuogoNascita">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DataNascita">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Giorno"/>
                                        <xs:element type="xs:byte" name="Mese"/>
                                        <xs:element type="xs:short" name="Anno"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="Sesso"/>
                            <xs:element type="xs:string" name="DescrizioneSesso"/>
                            <xs:element type="xs:string" name="Cognome"/>
                            <xs:element type="xs:string" name="Nome"/>
                            <xs:element type="xs:byte" name="CodiceAltroCognome"/>
                            <xs:element type="xs:string" name="DescrizioneCodiceAltroCognome"/>
                            <xs:element name="DatiNascitaItalia">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="SiglaPaese"/>
                                        <xs:element type="xs:string" name="Stato"/>
                                        <xs:element type="xs:byte" name="TipoCodComune"/>
                                        <xs:element type="xs:string" name="CodComune"/>
                                        <xs:element type="xs:string" name="Provincia"/>
                                        <xs:element type="xs:string" name="DescrizioneProvincia"/>
                                        <xs:element type="xs:string" name="Comune"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Indirizzo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Area"/>
                            <xs:element type="xs:string" name="CodiceArca"/>
                            <xs:element type="xs:int" name="ProgressivoArca"/>
                            <xs:element type="xs:byte" name="ErrorInd"/>
                            <xs:element name="StatusIndirizzo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TipoIndirizzo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Codice"/>
                                        <xs:element type="xs:string" name="Descrizione"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="CodProvenienza"/>
                            <xs:element type="xs:string" name="DescrizioneCodProvenienza"/>
                            <xs:element name="DataVariazione">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Giorno"/>
                                        <xs:element type="xs:byte" name="Mese"/>
                                        <xs:element type="xs:short" name="Anno"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:int" name="SedeVariazione"/>
                            <xs:element type="xs:string" name="OperatoreVariazione"/>
                            <xs:element type="xs:short" name="ProgrammaVariazione"/>
                            <xs:element name="IndirizzoItalia">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="SiglaPaese"/>
                                        <xs:element name="TipoCodComune">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="Codice"/>
                                                    <xs:element type="xs:string" name="Descrizione"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="CodComune"/>
                                        <xs:element type="xs:string" name="Comune"/>
                                        <xs:element type="xs:string" name="Provincia"/>
                                        <xs:element type="xs:string" name="DescrizioneProvincia"/>
                                        <xs:element type="xs:short" name="CAP"/>
                                        <xs:element type="xs:byte" name="Civico"/>
                                        <xs:element name="Indirizzo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="PrimaParte"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Chiave">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Area"/>
                            <xs:element type="xs:string" name="CodiceArca"/>
                            <xs:element type="xs:int" name="ProgressivoArca"/>
                            <xs:element type="xs:byte" name="Archivio"/>
                            <xs:element type="xs:string" name="Progetto"/>
                            <xs:element type="xs:string" name="DescrizioneProgetto"/>
                            <xs:element name="DataDefinizione">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="Giorno"/>
                                        <xs:element type="xs:byte" name="Mese"/>
                                        <xs:element type="xs:short" name="Anno"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="Subset"/>
                            <xs:element type="xs:byte" name="Primar"/>
                            <xs:element type="xs:string" name="ChiaveIndividuale"/>
                            <xs:element type="xs:string" name="CodiceIndividuale"/>
                            <xs:element type="xs:byte" name="CatePen"/>
                            <xs:element type="xs:string" name="CatPenCodice"/>
                            <xs:element type="xs:string" name="DescrizionePensione"/>
                            <xs:element type="xs:short" name="SedePen"/>
                            <xs:element type="xs:int" name="CertPen"/>
                            <xs:element type="xs:string" name="TipoComp"/>
                            <xs:element type="xs:string" name="CodeLipe"/>
                            <xs:element type="xs:string" name="DescrizioneTipoComp"/>
                            <xs:element type="xs:short" name="DecOrigine"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Familiare">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Area"/>
                            <xs:element type="xs:string" name="ChiaveArca"/>
                            <xs:element type="xs:int" name="Progressivo"/>
                            <xs:element type="xs:string" name="ChiaveArcaFam"/>
                            <xs:element type="xs:int" name="ProgressivoFam"/>
                            <xs:element type="xs:byte" name="CodRelazione"/>
                            <xs:element type="xs:string" name="DescrizioneCodRelazione"/>
                            <xs:element type="xs:int" name="DataVariazione"/>
                            <xs:element type="xs:int" name="DataEvento"/>
                            <xs:element type="xs:string" name="ComuneRegAna"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
